* {
  outline: none;
}

html, body {
  background-color: #fff;
  color: #505050;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  margin: 0;
}

.hidden {
  display: none !important;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.push-right {
  float: right;
}

.top-right {
  position: absolute;
  right: 150px;
  top: 18px;
}

.m-b-md {
  margin-bottom: 30px;
}

.full-height {
  padding: 20px;

  .block {
    float: left;
    width: 33%;
    height: 100%;
    padding: 1px;
  }

  &.nocode .block {
    width: 49%;
  }

  &.nocode .scripts.block {
    display: none;
  }
}

button,
input[type=submit],
input[type=button] {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 700;
  height: 36px;
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #000;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  border-bottom: 3px solid transparent;
  background: transparent;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
  &:hover {
    /* border: 1px solid #2f5bb7; */
    border: 0px;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    border-bottom: 3px solid #4d90fe;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
  }
}
