* {
    outline: none;
}

html, body {
    background-color: #fff;
    color: #505050;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0;
}

.hidden {
    display: none !important;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.top-right {
    position: absolute;
    right: 150px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links {
    width: 280px;
}

.links a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    float: left;
}

.links > a:hover {
    border-bottom: 2px solid #4d90fe;
}

.m-b-md {
    margin-bottom: 30px;
}

.toolbar {
    position: absolute;
    top: 0;
    height: 60px;
    line-height: 60px;
    left: 0;
    right: 0;
    padding: 20px;
    padding-bottom: 0;
}

.toolbar .buttons {
    float: left;
}

.toolbar .powered {
    position: fixed;
    right: 449px;
    top: 0;
    height: 40px;
    line-height: 40px;
    padding: 0px 19px;
    text-align: right;
    background: #4d90fe;
    color: white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 0px 0px 2px 2px;
}

.toolbar .powered a {
    color: white;
}

img.logo {
    width: 140px;
    margin: 0 6px;
    padding: 0px 6px;
}

a.logo-link {
    display: block;
    float: left;
    width: 171px;
}

.full-height {
    padding: 20px;
    padding-top: 0;
}

.full-height .block {
    float: left;
    width: 33%;
    height: 100%;
    padding: 1px;
}

.full-height.nocode .block {
    width: 49%;
}

.full-height.nocode .scripts.block {
    display: none;
}

.toolbar button {
    padding: 9px 16px;
    margin: 0 6px;
    cursor: pointer;

}

.position-ref {
    position: absolute;
    left: 0;
    right: 0;
    top: 80px;
    bottom: 70px;
}

#input, .script, #output {
    height: 100%;
    outline: none;
    overflow: auto;
}

#input, #output {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    padding: 15px;
}

#output {
    overflow: auto;
}

#parser-title {
    padding: 10px;
    width: 300px;
}

.CodeMirror {
    height: 100%;
}


button, input[type=submit], input[type=button] {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 700;
    height: 36px;
    /* border: 1px solid #3079ed; */
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #4d90fe;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

button:hover, input[type=submit]:hover, input[type=button]:hover {
    /* border: 1px solid #2f5bb7; */
    border: 0px;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #357ae8;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}
